<a href="javascript:void(0);" class="icon" onclick="hide()">
    <i class="fa fa-bars"></i>
</a>
<div class="square">
    <div class="head"><br>
    </div>
    <div class="register">
        <form>
            <div class="form-group row">
                <label for="inputNama" class="col-sm-4 col-form-label">Nama</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="inputNama" placeholder="Nama">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputTanggal" class="col-sm-4 col-form-label">Tanggal</label>
                <div class="col-sm-8">
                    <input type="date" class="form-control" id="inputTanggal" placeholder="Tanggal">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail" class="col-sm-4 col-form-label">Email</label>
                <div class="col-sm-8">
                    <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-4 col-form-label">Password</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPasswordConfirmation" class="col-sm-4 col-form-label">Password Confirmation</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" id="inputPasswordConfirmation" placeholder="PasswordConfirmation">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-4"></div>
                <div class="col-sm-8">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </div>
        </form>
    </div>
</div>
