<a href="javascript:void(0);" class="icon" onclick="hide()">
    <i class="fa fa-bars"></i>
</a>
<div class="square container">
    <div class="row">
        <div class="col-lg-4 photo-profile">
            <img id="photo-profile" src="https://s3-alpha.figma.com/img/c039/29ef/f386ca30703f23869a8d555c32417a92">
        </div>
        <div class="col-lg-8 intro">
            <h1 id="title-name">Razaqa Dhafin</h1>
            <h4 id="title-status">Software Engineer</h4>
            <div class="row container all-data">
                <div class="row data">
                    <div class="col-md-1 ">
                        <img class="main-info-logo" src="https://s3-alpha.figma.com/img/eabf/af7b/c9813be8780ae579efa32b53026355a7">
                    </div>
                    <div class="col-md-11 inf">
                        <p class="main-info">Fakultas Ilmu Komputer, Universitas Indonesia</p>
                    </div>
                </div>
                <div class="row data">
                    <div class="col-md-1">
                        <img class="main-info-logo" src="https://s3-alpha.figma.com/img/3607/e0ff/52519db900ffa2d5b5f605e67c32b0a9">
                    </div>
                    <div class="col-md-11 inf">
                        <p class="main-info">dhafins99@hotmail.com</p>
                    </div>
                </div>
                <div class="row data">
                    <div class="col-md-1 ">
                        <img class="main-info-logo" src="https://s3-alpha.figma.com/img/c8c4/c9aa/4f7f4a8ae8f0fd3d0e7f33a3cc5c7b78">
                    </div>
                    <div class="col-md-11 inf">
                        <p class="main-info">085676834982</p>
                    </div>
                </div>
                <div class="row data">
                    <div class="col-md-1 ">
                        <img class="main-info-logo" src="https://s3-alpha.figma.com/img/b4c9/3d4a/2e38aeeaa901bf6cb60be59a9bb4f27d">
                    </div>
                    <div class="col-md-11 inf">
                        <p class="main-info">Villa Mutiara Cinere, E10/20, Grogol, Limo, Depok</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row summary-top">
        <div class="col-sm summary-top">
            <h5 class="summary-title" data-hover="4">Pendidikan</h5>
        </div>
        <div class="col-sm summary-top">
            <h5 class="summary-title" data-hover="3">Pengalaman Kerja</h5>
        </div>
        <div class="col-sm summary-top">
            <h5 class="summary-title" data-hover="10">Keahlian</h5>
        </div>
        <div class="col-sm summary-top">
            <h5 class="summary-title" data-hover="8">Organisasi Kepanitiaan</h5>
        </div>
        <div class="col-sm summary-top">
            <h5 class="summary-title" data-hover="4">Proyek</h5>
        </div>
    </div>
    <div class="row summary-bottom">
        <div class="col-sm">
            <p class="summary-number">4</p>
        </div>
        <div class="col-sm">
            <p class="summary-number">3</p>
        </div>
        <div class="col-sm">
            <p class="summary-number">10</p>
        </div>
        <div class="col-sm">
            <p class="summary-number">8</p>
        </div>
        <div class="col-sm">
            <p class="summary-number">4</p>
        </div>
    </div>
</div>
