<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="author" content="Razaqa Dhafin Haffiyan">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Hello, I'm Dhafin!</title>

    <link rel="icon" type="image/png" href="http://www.iconarchive.com/download/i49352/designcontest/vintage/Hand.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <div class="row content">
        <div class="col-1 sidebar" id="sidebar">
            <div class="nav navbar-expand-lg flex-column nav-pills nav-tabs" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                {% if page == 'home' %}
                <a class="nav-link active nav-tab" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">
                    <img class="nav-icon" src="https://s3-alpha.figma.com/img/cd09/9b17/8669e8d84bedc98924f3b8bc19454872">
                </a>
                {% else %}
                <a class="nav-link nav-tab" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="false">
                    <img class="nav-icon" src="https://s3-alpha.figma.com/img/cd09/9b17/8669e8d84bedc98924f3b8bc19454872">
                </a>
                {% endif %}
                <a class="nav-link nav-tab" id="v-pills-edu-tab" data-toggle="pill" href="#v-pills-edu" role="tab" aria-controls="v-pills-edu" aria-selected="false">
                    <img class="nav-icon" src="https://s3-alpha.figma.com/img/e79a/2d49/a90b8350caa9329cf0dcd1bd91c3b90d">
                </a>
                <a class="nav-link nav-tab" id="v-pills-work-tab" data-toggle="pill" href="#v-pills-work" role="tab" aria-controls="v-pills-work" aria-selected="false">
                    <img class="nav-icon" src="https://s3-alpha.figma.com/img/47ea/f14b/00ab290b20f62816e13ec46b101c94b8">
                </a>
                <a class="nav-link nav-tab" id="v-pills-contact-tab" data-toggle="pill" href="#v-pills-contact" role="tab" aria-controls="v-pills-contact" aria-selected="false">
                    <img class="nav-icon" src="https://s3-alpha.figma.com/img/3607/e0ff/52519db900ffa2d5b5f605e67c32b0a9">
                </a>
                <a class="nav-link nav-tab" id="v-pills-register-tab" data-toggle="pill" href="#v-pills-register" role="tab" aria-controls="v-pills-register" aria-selected="false">
                    <img class="nav-icon" src="https://png.icons8.com/metro/1600/edit-user-male.png">
                </a>
                {% if page == 'home' %}
                <a class="nav-link nav-tab" id="v-pills-sched-tab" data-toggle="pill" href="#v-pills-sched" role="tab" aria-controls="v-pills-sched" aria-selected="false">
                    <img class="nav-icon" src="https://static.thenounproject.com/png/346777-200.png">
                </a>
                {% else %}
                <a class="nav-link active nav-tab" id="v-pills-sched-tab" data-toggle="pill" href="#v-pills-sched" role="tab" aria-controls="v-pills-sched" aria-selected="true">
                    <img class="nav-icon" src="https://static.thenounproject.com/png/346777-200.png">
                </a>
                {% endif %}
            </div>
        </div>
        <div class="col-11 main-panel" id="main-panel">
            <div class="tab-content" id="v-pills-tabContent">
                {% if page == 'home' %}
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    {% include 'home.html' %}
                </div>
                {% else %}
                <div class="tab-pane fade" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    {% include 'home.html' %}
                </div>
                {% endif %}
                <div class="tab-pane fade" id="v-pills-edu" role="tabpanel" aria-labelledby="v-pills-edu-tab">
                    {% include 'pendidikan.html' %}
                </div>
                <div class="tab-pane fade" id="v-pills-work" role="tabpanel" aria-labelledby="v-pills-work-tab">
                    {% include 'pengalamanKerja.html' %}
                </div>
                <div class="tab-pane fade" id="v-pills-contact" role="tabpanel" aria-labelledby="v-pills-contact-tab">
                    {% include 'kontak.html' %}
                </div>
                <div class="tab-pane fade" id="v-pills-register" role="tabpanel" aria-labelledby="v-pills-register-tab">
                    {% include 'daftar.html' %}
                </div>
                {% if page == 'home' %}
                <div class="tab-pane fade" id="v-pills-sched" role="tabpanel" aria-labelledby="v-pills-sched-tab">
                    {% include 'schedule.html' %}
                </div>
                {% else %}
                <div class="tab-pane fade show active" id="v-pills-sched" role="tabpanel" aria-labelledby="v-pills-sched-tab">
                    {% include 'schedule.html' %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="{% static 'index.js' %}"></script>
</body>
