<a href="javascript:void(0);" class="icon" onclick="hide()">
    <i class="fa fa-bars"></i>
</a>
<div class="square">
    <div class="head"><br>
    </div>
    <div class="contact">
        <form>
            <div class="form-group row">
                <label for="inputNama" class="col-sm-4 col-form-label">Nama</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="inputNama" placeholder="Nama">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail" class="col-sm-4 col-form-label">Email</label>
                <div class="col-sm-8">
                    <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputMessage" class="col-sm-4 col-form-label">Message</label>
                <div class="col-sm-8">
                    <textarea id="inputMessage">ketik pesanmu di sini.</textarea>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-4"></div>
                <div class="col-sm-8">
                    <button type="submit" class="btn btn-primary">Send</button>
                </div>
            </div>
        </form>
        <div class="row socmed">
            <div class="col text-center">
                <a href="#" class="fa fa-facebook"></a>
            </div>
            <div class="col text-center">
                <a href="#" class="fa fa-twitter"></a>
            </div>
            <div class="col text-center">
                <a href="#" class="fa fa-google"></a>
            </div>
            <div class="col text-center">
                <a href="#" class="fa fa-linkedin"></a>
            </div>
            <div class="col text-center">
                <a href="#" class="fa fa-youtube"></a>
            </div>
            <div class="col text-center">
                <a href="#" class="fa fa-instagram"></a>
            </div>
        </div>
    </div>
</div>
