<a href="javascript:void(0);" class="icon" onclick="hide()">
    <i class="fa fa-bars"></i>
</a>
<div class="square">
    <div class="row edu-data">
    </div>
    <div class="row edu-data">
        <div class="col-4">
            <p class="date">Agustus 2006</p>
            <p class="date">Juli 2011</p>
        </div>
        <div class="col-8">
            <p class="school">MIT Al-Hamid</p>
            <p class="gpa">29.50</p>
        </div>
    </div>
    <div class="row edu-data">
        <div class="col-4">
            <p class="date">Agustus 2011</p>
            <p class="date">Juli 2014</p>
        </div>
        <div class="col-8">
            <p class="school">SMPN 98 Jakarta</p>
            <p class="gpa">38.20</p>
        </div>
    </div>
    <div class="row edu-data">
        <div class="col-4">
            <p class="date">Agustus 2014</p>
            <p class="date">Juli 2017</p>
        </div>
        <div class="col-8">
            <p class="school">SMAN 28 Jakarta</p>
            <p class="gpa">35.70</p>
        </div>
    </div>
    <div class="row edu-data">
        <div class="col-4">
            <p class="date">Agustus 2017</p>
            <p class="date"><i>ungraduate</i></p>
        </div>
        <div class="col-8">
            <p class="school">S1 Ilmu Komputer, Universitas Indonesia</p>
            <p class="gpa"><i>ungraduate</i></p>
        </div>
    </div>
</div>
