<a href="javascript:void(0);" class="icon" onclick="hide()">
    <i class="fa fa-bars"></i>
</a>
<div class="square">
    <div class="row work-data">
    </div>
    <div class="row work-data">
        <div class="col-8">
            <p class="office">Badr Interactive</p>
            <p class="job">Web Developer</p>
        </div>
        <div class="col-4">
            <p class="date">Juni 2018</p>
            <p class="date">Agustus 2018</p>
        </div>
    </div>
    <div class="row work-data">
        <div class="col-8">
            <p class="office">Teman Belajar</p>
            <p class="job">Tutor</p>
        </div>
        <div class="col-4">
            <p class="date">Agustus 2018</p>
            <p class="date"><i>current work</i></p>
        </div>
    </div>
    <div class="row work-data">
        <div class="col-8">
            <p class="office">Car Be-ON</p>
            <p class="job">Web Developer</p>
        </div>
        <div class="col-4">
            <p class="date">September 2018</p>
            <p class="date"><i>current work</i></p>
        </div>
    </div>
</div>
