body {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
}

.content {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.content .sidebar {
    position: fixed;
    height: 100%;
    width: 100px;
    max-width: none;
    background-color: #E57711;
    padding: 0;
    margin: 0;
}

.content .sidebar .nav-tabs {
    height: 100%;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20% 0;
}

.content .sidebar .nav-icon {
    height: auto;
    width: 150%;
    margin: auto;
    margin-left: -7px;
}

.content .sidebar .nav-tab {
    border-radius: 100%;
    background-color: #FF9900;
    height: 60px;
    width: 60px;
    margin: 0 auto;
}

.content .icon {
    display: none;
}

.content .sidebar .active {
    background-color: #F4FF7B;
}

.main-panel {
    background-image: url('https://s3-alpha.figma.com/img/f0eb/df70/0deec4475b4e11b5c2e10dbe99946034');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0 -100px 0 100px;
    padding: 0;
}

.main-panel .square {
    width: 70%;
    height: 100%;
    background-color: rgba(255, 58, 58, 0.75);
    border-radius: 20px;
    margin: auto;
    margin-top: 6%;
}

.main-panel .photo-profile {
    border-radius: 20px;
    margin-top: 5%;
    margin-left: -5%;
}

#photo-profile {
    border-radius: 10px;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    box-shadow: 0 0 0 10px white;
}

.main-panel .intro {
    margin-top: 5%;
}

.main-panel .inf {
    padding: 0;
}

#title-name {
    font-family: 'Rajdhani', sans-serif;
    font-size: 5vw;
    font-weight: 700;
    margin: 0;
}

#title-status {
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
    font-weight: 700;
    margin: 0;
}

.main-panel .main-data {
    margin-top: 25px;
}

.main-panel .main-info {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vw;
    margin: 0;
    margin-top: 1.1vw;
}

.main-panel .main-info-logo {
    width: 100%;
    margin-right: 0;
    margin-top: 1.1vw;
    border-radius: 50%;
    background-color: #EBC1C1;
}

.main-panel .all-data {
    margin: 0;
    padding: 0;
}

.main-panel .summary-top {
    margin: 3% auto 0 auto;
}

.main-panel .summary-bottom {
    margin: 0 auto 3% auto;
}

.main-panel .summary-title {
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
    text-align: center;
}
.main-panel .summary-number {
    font-family: 'Roboto', sans-serif;
    font-size: 4vw;
    font-weight: 900;
    text-align: center;
}

.main-panel .edu-data {
    margin: 6% auto;
}

.main-panel .edu-data .date {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
    text-align: right;
}

.main-panel .edu-data .school {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
    text-align: left;
    font-weight: 700;
}

.main-panel .edu-data .gpa {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
    text-align: left;
}

.main-panel .work-data {
    margin: 9% auto;
}

.main-panel .work-data .date {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
    text-align: left;
}

.main-panel .work-data .office {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
    text-align: right;
    font-weight: 700;
}

.main-panel .work-data .job {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
    text-align: right;
}

.main-panel .org-data {
    margin: 3% auto;
}

.main-panel .organisasi .org, .main-panel .organisasi .pos {
    text-align: right;
}

.main-panel .org-data .org {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vw;
    font-weight: 700;
}

.main-panel .org-data .pos {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vw;
}

.main-panel .org-data .year {
    font-family: sans-serif;
    font-size: 1.5vw;
    font-weight: 700;
    text-align: center;
    border-radius: 50%;
    background-color: #FF9900;
    margin: 20px auto;
    width: 70px;
    height: 70px;
}

.main-panel .contact {
    margin: 5%;
}

.main-panel .register {
    margin: 5%;
}

.main-panel .contact .socmed {
    margin-top: 20px;
}

.fa {
    padding: 20px;
    height: auto;
    width: 100%;
    text-align: center;
    text-decoration: none;
    border-radius: 20%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-bars {
    width: 30px;
    margin: 10px;
    text-align: center;
    background: white;
}

.main-panel .summary-top {
    padding-left: 0;
    padding-right: 0;
}

#inputMessage {
    width: 100%;
}


@media (max-width: 1200px) {
    .main-panel .main-info-logo {
        width: 250%;
    }

    .main-panel .main-info {
        padding-left: 10px;
    }
}

@media (max-width: 992px) {
    #title-name {
        margin-left: auto;
        font-size: 30px;
        text-align: center;
    }
    #title-status {
        margin-left: auto;
        font-size: 20px;
        text-align: center;
    }
    .main-panel .photo-profile {
        margin: 0;
        text-align: center;
    }

    .main-panel .main-info {
        font-size: 10px;
        text-align: center;
    }

    .main-panel .main-info-logo {
        width: 30px;
        text-align: center;
        margin-left: 50%;
    }

    .main-panel .data {
        width: 100%;
    }

    #photo-profile {
        width: 25vw;
        border-radius: 1vw;
    }

}

@media (max-width: 768px) {
    .sidebar {
        opacity: 0;
    }

    .main-panel {
        margin-left: 0;
    }

    .show {
        opacity: 1;
    }

    .swipe {
        margin-left: 100px;
    }

    .content .icon {
        display: block;
    }
}

@media (max-width: 576px) {
    .main-panel .summary-title {
        font-size: 20px;
    }
    .main-panel .summary-title:hover {
        font-size: 0;
    }
    .main-panel .summary-title:hover:before {
        content: attr(data-hover);
        font-size: 25px;
    }
    .main-panel .summary-bottom {
        display: none;
    }
}
